@tailwind base;
@tailwind components;
@tailwind utilities;

.introduction {
  height: calc(80vh)
}

.title {

}

.company {
  font-family: "Space Mono";
}

.outline {
  @apply outline-dashed;
  @apply outline-red-50;
}

.htmltag {
  @apply text-cyan-200;
  @apply text-3xl;
}

.card {
  @apply rounded-2xl flex flex-col bg-gray-800 absolute;
  height: 28rem;
  aspect-ratio: 5/7;
  transition: transform 800ms cubic-bezier(.12,.8,.21,.89);
}

.experienceCards {
  @apply h-4/5;
  @apply w-auto;
  @apply min-h-screen;
}

.cardGroup {
  @apply h-96;
  aspect-ratio: 5/7;
}


.card1hover {
  @apply -translate-x-20 -rotate-12;
  transition: transform 800ms cubic-bezier(.12,.8,.21,.89);
}

.card2hover {
  @apply -translate-x-10 -rotate-6;
  transition: transform 800ms cubic-bezier(.12,.8,.21,.89);
}

.card3hover {
  @apply translate-x-40 rotate-12;
  transition: transform 800ms cubic-bezier(.12,.8,.21,.89);
}

.card4hover {
  @apply translate-x-10 rotate-6;
  transition: transform 800ms cubic-bezier(.12,.8,.21,.89);
}